# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java / Maven
weather-backend/target/
*.class
*.log

# React / Node.js
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Environment variables
.env

# Temporary files
*.tmp

weather-backend/Procfile